<form>
    <label for="input-product-name">Product Name</label>
    <input type="text" id="input-product-name">
    <label for="select-category">Category</label>
    <select id="select-category">
        <option value="sofa">sofa</option>
    </select>
    <label for="input-upload-images">Upload Images</label>
    <input type="file" id="input-upload-images">
    <label for="textarea-description">Description</label>
    <textarea id="textarea-description"></textarea>

    <h2>Build Your Own A <input type="checkbox" id="checkbox-fabrics"></h2>
    <table>
        <thead>
            <tr>
                <td>Size</td>
                <td>VOL</td>
                <td>Price/LLL</td>
                <td>Price/LL</td>
                <td>Price/L</td>
                <td>Price/M</td>
                <td>Price/H</td>
                <td>Price/HH</td>
                <td>Price/HHH</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="input-model-name"></td>
                <td><input type="tel" class="input-volume"></td>
                <td><input type="tel" class="input-price-lll"></td>
                <td><input type="tel" class="input-price-ll"></td>
                <td><input type="tel" class="input-price-l"></td>
                <td><input type="tel" class="input-price-m"></td>
                <td><input type="tel" class="input-price-h"></td>
                <td><input type="tel" class="input-price-hh"></td>
                <td><input type="tel" class="input-price-hhh"></td>
            </tr>
        </tbody>
    </table>

    <h2>Price Ratio</h2>
    <p>Quantity 4-7 / Quantity >7 = <input type="tel" id="input-price-ratio"></p>

    <p>Delivery Time: <input type="tel" id="input-delivery-time"> Days</p>

    <p>Download Link: <input type="text" id="input-download-link"></p>
</form>

