<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/Swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/add_product.css">
    <link rel="stylesheet" href="/stylesheets/add_fabric.css">
    <link rel="stylesheet" href="/stylesheets/admin_product.css">
    <link rel="stylesheet" href="/stylesheets/admin_fabrics.css">
    <link rel="stylesheet" href="/stylesheets/admin_materials.css">
    <link rel="stylesheet" href="/stylesheets/product.css">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/Swiper/dist/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/navbar.js"></script>
</head>
<body>
{{#if is_admin}}
    {{> header/admin}}
{{else}}
    {{> header/base}}
{{/if}}
<div class="container">
    {{{body}}}
</div>
</body>
</html>
