<form class="container">
    <div class="form-group">
        <label for="input-product-name">Product Name</label>
        <input type="text" class="form-control" id="input-product-name" placeholder="name">
    </div>
    <div class="form-group">
        <label for="select-category">Category</label>
        <select id="select-category" class="form-control">
            <option value="sofa">sofa</option>
        </select>
    </div>
    <div class="form-group">
        <label for="input-upload-images">Upload Images</label>
        <input type="file" id="input-upload-images" class="form-control" multiple>
    </div>
    <div class="form-group">
        <label for="textarea-description">Description</label>
        <textarea id="textarea-description" class="form-control" placeholder="input product description here..."></textarea>
    </div>
    <div class="form-group">
        <label for="checkbox-fabrics">
            Build Your Own A
            <input type="checkbox" id="checkbox-fabrics">
        </label>
    </div>
    <div class="row">
        <div class="col-xs-1 col-xs-offset-3">VOL</div>
        <div class="col-xs-1">Price/LLL</div>
        <div class="col-xs-1">Price/LL</div>
        <div class="col-xs-1">Price/L</div>
        <div class="col-xs-1">Price/M</div>
        <div class="col-xs-1">Price/H</div>
        <div class="col-xs-1">Price/HH</div>
        <div class="col-xs-1">Price/HHH</div>
    </div>
    <div class="row">
        <div class="col-xs-1">Size</div>
        <div class="col-xs-2"><input type="text" class="input-model-name form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-volume form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-lll form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-ll form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-l form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-m form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-h form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-hh form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-hhh form-control"></div>
    </div>
    <div class="form-group">
        <label for="input-price-ratio">Price Ratio</label>
        <div class="input-group">
            <div class="input-group-addon">Quantity 4-7 / Quantity >7 =</div>
            <input type="tel" id="input-price-ratio" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">Delivery Time:</div>
            <input type="tel" id="input-delivery-time" class="form-control">
            <div class="input-group-addon">Days</div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">Download Link: </div>
            <input type="tel" id="input-download-link" class="form-control">
        </div>
    </div>

</form>





