<div class="container">
    <h1>Add Material</h1>
    <div class="form-group">
        <label for="upload-image">Upload Image</label>
        <input class="form-control" name="upload-image" type="file" accept="image/*">
    </div>
    <div class="material-image-preview"></div>
    <div class="form-group">
        <label for="material-price-group">Price Group</label>
        <select name="material-price-group" class="form-control">
            <option value="oak">Oak</option>
            <option value="elm">Elm</option>
            <option value="pine">Pine</option>
        </select>
    </div>
    <div class="form-group">
        <label for="material-name">Material Name</label>
        <input class="form-control" name="material-name">
    </div>
    <button id="btn-add-new-material" class="btn btn-primary btn-block">Add New</button>
</div>
<script type="text/javascript" src="/javascripts/add_material.js"></script>