<div class="container">
    <h1>Add Material</h1>
    <div class="form-group">
        <label for="upload-image">Upload Image</label>
        <input class="form-control" name="upload-image" type="file" accept="image/*">
    </div>
    <div class="fabrics-image-preview"></div>
    <div class="form-group">
        <label for="fabrics-type">Type</label>
        <select name="fabrics-type" class="form-control">
            <option value="Belgian Linen">Belgian Linen</option>
            <option value="Washed Belgian Linen">Washed Belgian Linen</option>
            <option value="Other Fabrics">Other Fabrics</option>
            <option value="Leather">Leather</option>
        </select>
    </div>
    <div class="form-group">
        <label for="fabrics-name">Fabric Name</label>
        <input class="form-control" name="fabrics-name">
    </div>
    <div class="fabric-price-group form-group">
        <label for="fabrics-price-group">Price Group</label>
        <select name="fabrics-price-group" class="form-control">
            <option value="lll">lll</option>
            <option value="ll">ll</option>
            <option value="l">l</option>
            <option value="m">m</option>
            <option value="h">h</option>
            <option value="hh">hh</option>
            <option value="hhh">hhh</option>
        </select>
    </div>
    <button id="btn-add-new-fabric" class="btn btn-primary btn-block">Add New</button>
</div>
<script type="text/javascript" src="/javascripts/add_fabric.js"></script>