<div class="admin-download-previews">
  {{#each downloads}}
    <div class="col-xs-4 download-wrapper">
      <img src="/{{this.image.path}}_thumbnail">
      <div>
        <a {{#if user}}href="/{{this.download_link}}" download{{else}}{{/if}}>
          <img src="/images/pdf.jpg">
        </a>
        <div class="download-name">{{this.name}}</div>
      </div>
    </div>
  {{/each}}
  <div class="clearfix"></div>
  {{#if user}}download{{/if}}
</div>