<div class="admin-download-previews">
  {{#each downloads}}
    <div class="col-xs-4 download-wrapper">
      <img src="/{{this.image.path}}_thumbnail">
      <div>
        <a href="/{{this.download_link}}" download>
          <img src="/images/pdf.jpg">
        </a>
        {{this.name}}
      </div>
    </div>
  {{/each}}
  <div class="clearfix"></div>
</div>