<div class="admin-download-previews">
  {{#each downloads}}
    <div class="col-xs-4 download-wrapper">
      <img src="/{{this.image.path}}_thumbnail">
      <div>
      {{#if user}}
        <a href="/{{this.download_link}}" download>
          <img src="/images/pdf.jpg">
        </a>
      {{else}}
        <a><img src="/images/pdf.jpg"></a>
      {{/if}}
        <div class="download-name">{{this.name}}</div>
      </div>
    </div>
  {{/each}}
  <div class="clearfix"></div>
</div>