<ul>
    {{#each categories}}
        <li>
            {{this.name}}
            <ul>
                {{#each this.subcategories}}
                    <a href="/category/{{this.name}}"><li>{{this.name}}</li></a>
                {{/each}}
            </ul>
        </li>
    {{/each}}

</ul>
