.admin-download-previews {
	margin-top: 30px;
	.col-xs-4 {
		img {
			width : 100%;
			padding : 4px;
		}
	}
}

.download-wrapper {
	margin-bottom: 20px;
	img {
		width: 100%;
	}
	& a {
		vertical-align: middle;
		& > img {
			width: 25px !important;
		}
	}
}

.download-name {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}