.admin-download-previews {
	.col-xs-4 {
		img {
			width : 100%;
			padding : 4px;
		}
	}
}

.download-wrapper {
	img {
		width: 100%;
	}
	& a {
		vertical-align: middle;
		& > img {
			width: 20px !important;
		}
	}
}