.fabric-card-wrapper {
  padding-right : 12px;
  padding-left : 0;
  .fabric-card {
    .dummy {
      padding-top : 100%
    }
    background-size : cover;
    background-position : center;
  }
  .fabric-name {
    font-size : 14px;
    height: 40px; // always two lines display
    overflow: hidden;
    word-wrap: break-word;
    margin: 5px 0 10px;
  }
  .price-group {
    font-size : 12px;
    font-weight : bold;
  }
}
