.product-container {
  max-width : 720px;
  padding-left : 0;
  padding-right : 0;
  hr {
    border-top-color : darkgrey;
  }
  .img_available_sizes {
    max-width : 100%;
  }
  span.navy-blue {
    color : #337ab7;
  }
}

.price-group-header {
  color : #337ab7;
}
.swiper-container {
  .swiper-slide {
    img {
      width : 100%;
    }
  }
}
p {
  white-space: pre-wrap;
}

.collapse-wrapper {
  transition : height 200ms ease-in-out;
  overflow : hidden;

  &.collapsed {
    height : 0;
  }
}

.collapse-toggle {
  &:before {
    cursor : pointer;
    position : relative;
    margin-top : 5px;
    bottom : 20px;
    content : "\FE40";
    display : block;
    text-align : center;
  }
  &.to-collapse:before{
    bottom : 25px;
    content : "\FE3F";
  }
}

.nstudio-image {
  width: 100%;
  padding-top: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
}