@import "layout";
@import "add_banner";
body {
  margin-top : 50px;
}
.container {
  max-width : 960px;
}
@font-face {
  font-family : kalinga;
  src : url(../fonts/kalinga.ttf);
}
@font-face {
  font-family: kalinga;
  src : url(../fonts/kalingab.ttf);
  font-weight : bold;
}
body {
  font-family: kalinga, Helvetica, Arial, sans-serif;
}

//.swiper-pagination-bullet {
//  opacity : 1;
//  width : 10px;
//  height : 10px;
//  background-color : transparent;
//  border : 2px solid white;
//}
//.swiper-pagination-bullet-active {
//  background-color : white;
//}

.product-list {
  margin-top: 30px;
  margin-left : -20px;
  & .product-card {
    margin-bottom: 20px;
  }
  a>div {
    padding-left : 5px;
    padding-right : 0;
  }
  a, a:hover, a:active, a:link, a:visited {
    color : rgb(51, 51, 51);
  }
  .product-name {
    margin-top: 5px;
    //padding-left : 5px;
  }
}

.nav__new-arrival-link {
  color: red !important;
  & > b {
    border-left-color: red;
  }
}

.nav.navbar-nav {
  float: right !important;
}

.navbar__admin {
  font-size: 12px;
}

