@font-face {
  font-family : kalinga;
  src : url(../fonts/kalinga.ttf);
}
@font-face {
  font-family: kalinga;
  src : url(../fonts/kalingab.ttf);
  font-weight : bold;
}
body {
  font-family: kalinga, Helvetica, Arial, sans-serif;
}

td input {
  max-width : 100px;
  margin-right : 12px;
}

/*input {*/
  /*max-width : 100px;*/
/*}*/