<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand col-xs-4" href="/"><img src="/images/logo.jpg"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            {{#if user}}
              <ul class="nav navbar-nav">
                {{#if user.super_user}}
                  <li><a href="/admin/">Admin</a></li>
                {{/if}}
                <li><a href="/logout/">Logout</a></li>
              </ul>
            {{else}}
              <ul class="nav navbar-nav">
                <li><a href="/login/">Login</a></li>
              </ul>
            {{/if}}
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle category-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalogue <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav__new-arrival-link" href="/new_arrivals/" >New Arrivals <b class="caret caret-right"></b></a>
                        </li>
                        {{#each categories}}
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{this.name}} <b class="caret caret-right"></b></a>
                                <ul class="dropdown-menu">
                                    {{#each this.subcategories}}
                                        <li><a href="/category/{{this.name}}/">{{this.name}}</a></li>
                                    {{/each}}

                                </ul>
                            </li>
                        {{/each}}

                    </ul>
                </li>
                <li><a href="/n_studio/">N Studio</a>
                <li><a href="/download/">Download</a>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div>
</nav>